ul {
    position: relative;
}

.menu {
    position: relative;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.submenu {
    position: absolute;
    display: none;
}

.menu:hover .submenu {
    display: block;
}
