body {
    background-image: url(images/background.png);
}

h1, a {
    text-transform: uppercase;
    margin-left: 5%;
    text-decoration: none;
    color: #f6fbf7;
}

header {
    height: 129px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #fbbba2;
}

nav {
    height: 44px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-left: 10%;
    background-color: #ff3867;
}

.image {
    height: 280px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
    background-color: #f6fbf7;
}

img {
    width: 95%;
    height: 85%;
    display: inline-block;
}
