* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    background: url(images/background.png) repeat;
}

.header header {
    height: 129px;
    display: flex;
    align-items: center;
    background-color: #fbbba2;
}

.header h1 {
    text-transform: uppercase;
    margin-left: 5%;
    text-decoration: none;
    color: #f6fbf7;
}

.nav nav {
    height: 44px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #ff3867;
}

.nav .nav-bar {
    text-transform: uppercase;
    margin-left: 5%;
    text-decoration: none;
    color: #f6fbf7;
}

.image {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.image .container {
    padding: 20px;
    background-color: #ffffff;
}

.image .container img {
    width: 100%;
    height: auto;
}

.main .container {
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.main h2 {
    word-spacing: 10px;
    letter-spacing: 10px;
    margin-bottom: 20px;
}

.main .subtitle {
    line-height: 30px;
    padding-bottom: 30px;
    border-bottom: 5px dashed #dcdedd;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer span {
    text-align: center;
}

/* 

.container {
    margin: 0 auto;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #f6fbf7;
}

p, h2, h3 {
    padding-right: 5%;
    padding-left: 5%;
    text-align: justify;
}

h2 {
    padding-top: 5%;
}

.dotted-line {
    margin-right: 5%;
    margin-left: 5%;
    border-top: 1px dashed #dcdedd; 
}

.link {
    color: #a65573;
}

.solid-line {
    margin-top: 1%;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-left: 5%;
    border-top: 1px solid #dcdedd; 
}

.link-list {
    padding-right: 5%;
    padding-left: 5%;
    color: #a65573;
}

.data-footer {
    text-transform: uppercase;
    text-align: center;
    color: #90aea6;
}

.link-footer {
    color: #90aea6;
} */
