body {
    background-image: url(images/background.png);
}

h1 {
    text-transform: uppercase;
    margin-left: 5%;
}

header {
    height: 129px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-right: 10%;
    margin-left: 10%;
    color: #f6fbf7;
    background-color: #fbbba2;
}
